.wrapper
  margin 0 auto
  header
    display flex
    padding .8rem
    align-items center
    justify-content space-between
  nav
    display flex
    padding .8rem
    font-size 1rem
    align-items center
    justify-content space-between
    background #1d1d1d
    a
      display block
      color #ffffff
      &:hover, &.active
        color #fff100
  .banner
    .swiper-container
      width 100%
      height 100%
    .swiper-slide
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: -webkit-box
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      -webkit-box-pack: center
      -ms-flex-pack: center
      -webkit-justify-content: center
      justify-content: center
      -webkit-box-align: center
      -ms-flex-align: center
      -webkit-align-items: center
      align-items: center
  .all-title
    position relative
    padding 1rem 0
    text-align center
    font-size 1.6rem
    border-bottom 1px solid #d7d7d7
    .line
      position absolute
      bottom -1px
      left 0
      right 0
      width 3rem
      height 1px
      margin 0 auto
      background #ff4a00
      z-index 1
  .color-fff
    color #ffffff
    border-bottom 1px solid #ffffff
  .border-t-0
    border-bottom 0
  .subtitle
    font-size 1rem
  .telphone
    margin 1rem auto 0
    padding .5rem 1rem
    width 18rem
    text-align center
    font-size 1.6rem
    background #5a5a5a
    color #ffffff
    border-radius .2rem

  .no-bg
    background none
  .footer
    margin 1rem 0 5rem
    font-size 1rem
    text-align center
    .column
      display flex
      align-items center
      justify-content space-between
      font-size 1.4rem
      border-bottom 4px solid #07518e
      margin-bottom 1rem
      a
        display block
        flex 1
        line-height 1
        margin .5rem 0 1.5rem
        border-right 1px solid #202020
        &:last-child
          border-right 0
    .info-contact
      h2
        margin-bottom 1rem
  .fixed-b
    position fixed
    bottom 0
    width 100%
    z-index 99
    div
      display flex
      text-align center
      a
        display flex
        flex 1
        align-items center
        justify-content center
        color #ffffff
        padding 0.8rem 0
        font-size 1.6rem
        img
          margin-right 1rem