.proxy
  background #f7f7f7
  ul
    display flex
    flex-wrap wrap
    li
      flex 0 0 50%
      width 50%
      .inner-li
        padding 1.5rem
        font-size 1rem
        text-align center
        .img
          width 5rem
          height 5rem
          margin 0 auto 1rem
          background #dce3e6
          border-radius 50%
          line-height 5rem
          text-align center
          img
            vertical-align middle
        .title
          font-size 1.2rem
          margin-bottom 1rem
        .content
          text-align justify

.power
  .power-img
    padding 1rem .2rem
  img
    width 100%

.goBack
  padding-bottom 1rem
  background #f7f7f7
  .about-img
    margin 1rem .5rem
    padding .5rem
    background #ffffff
    border 1px solid #cfcece
    img
      width 100%
  .content
    margin 0 .5rem 1rem
    font-size 1rem
    text-align justify
    text-indent 2rem
    line-height 1.5
    a
      color #ff0000
  .four-relative
    display flex
    align-items center
    justify-content center
    li
      flex 1
      text-align center
      font-size 1rem
      border-right 1px dashed #c1c1c1
      &:last-child
        border-right 0
      .img
        line-height 1.5rem
        img
          vertical-align middle
      .title
        padding 0.5rem 0
        color #222222
      .en-title
        color #9f9f9f
        &:first-letter
          text-transform uppercase

.policy
  padding-bottom 1rem
  background #bd0916
  .table
    margin 1rem 0.5rem
    border-top 1px solid #ffffff
    border-left 1px solid #ffffff
    ul
      display flex
      align-items center
      justify-content center
      text-align center
      font-size 1.2rem
      color #ffffff
      li
        flex 1
        padding .5rem .8rem
        min-height 1.8rem
        border-right 1px solid #ffffff
        border-bottom 1px solid #ffffff
  .content
    margin 0 .5rem
    font-size 1rem
    line-height 1.7
    color #ffffff
    em
      color #ffea00

.message
  margin-top 1rem
  padding-bottom 2rem
  background url(../images/message.png) top center no-repeat
  background-size cover
  form
    margin 1rem .5rem 0
    li
      display flex
      font-size 1.2rem
      margin-bottom 1rem
      align-items center
      justify-content center
      label
        flex 1
        text-align right
        color #111111
      div
        flex 6
        border 1px solid #c2c2c2
        input
          display block
          border 0
          width 96%
          padding .5rem 2%
          height 2rem
          background rgba(255, 255, 255, .6)
    > div
      display flex
      align-items center
      justify-content center
      input
        display block
        padding .5rem 2rem
        border-radius .2rem
        border 0
        outline none
        font-size 1.2rem
        margin 0 1rem
        color #ffffff
        &.submit
          background #c28c2a
        &.button
          background #3e3a41

.consult
  display flex
  margin 1rem 0.5rem
  align-items flex-end
  div
    flex 1
    img
      width 100%

.chat
  padding 1rem 0
  background #f7f7f7
  a
    display flex
    font-size 1.2rem
    align-items center
    justify-content center
    color #ffffff
    padding 1rem 0
    background #c28c2a
    img
      margin-right 1rem
    b
      font-size 1.5rem

.about-in
  margin-top 1rem
  div
    margin-top 1rem
    padding 0 1rem
    text-align justify
    text-indent 2rem
    font-size 1.2rem
    line-height 1.7
    a
      color #ff0000
.about-in-2
  margin-top 1rem
  padding 1rem
  background #7d89a7
  color #ffffff
  font-size 1.2rem
  line-height 1.7
  b
    font-size 1.5rem

.map
  margin 1rem
  border 4px solid #c79220

.two-contact
  display flex
  > div
    flex 1
    padding 1.5rem
    text-align center
    font-size 1.5rem
    color #ffffff
    .img
      height 4rem
    .title
      width 10rem
      padding 0.5rem
      margin 1rem auto
      border 1px dashed #ffffff
  .flex-1
    background url(../images/con-1.png) top center no-repeat
    background-size cover
  .flex-2
    background url(../images/con-2.png) top center no-repeat
    background-size cover

.left-message
  padding 1rem

.inside-bar
  ul
    display flex
    margin  1rem 2rem
    text-align center
    border 1px solid #9f9f9f
    border-radius 10rem
    a
      display block
      padding 1rem 0
      font-size 1.5rem
      &.active
        background #ee7d42
        color #ffffff
    li
      flex 1

.list-news
  margin-bottom 1rem
  li
    display flex
    padding 1rem
    border-bottom 1px solid #9f9f9f
    h2
      flex 1
      margin-right 1rem
    .content
      flex 4
      .time
        font-size 0.8rem
      .title
        margin .5rem 0
        font-size 1.5rem